<!DOCTYPE html>
@model HelloWorld.Models.Deck

<script>
    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("name", ev.target.getAttribute("name"));
    }

    function drop(ev) {
        var name = ev.dataTransfer.getData("name");
        var moveCard = document.getElementsByName(name)[0];
        var card = getlastCard(ev.target);

        if ((parseInt(card.id) == parseInt(moveCard.id) + 1 && oppositeColor(card, moveCard)) || isBlank(card,moveCard)) {
            ev.preventDefault();
            card.appendChild(moveCard);
        }
    }

    function isBlank(card,moveCard) {
        if(card.classList[0]=="stack" && moveCard.id=="13"){
            return true
        }
        return false;
    }

    function oppositeColor(card,moveCard) {
        if ((card.classList[0] == "D" || card.classList[0] == "H") && (moveCard.classList[0] == "C" || moveCard.classList[0] == "S")) {
            return true;
        }
        else if ((moveCard.classList[0] == "D" || moveCard.classList[0] == "H") && (card.classList[0] == "C" || card.classList[0] == "S")) {
            return true;
        }
        else if (card.classList[0] == "stack1" || card.classList[0] == "stack2" || card.classList[0] == "stack3" || card.classList[0] == "stack4" || card.classList[0] == "stack5" || card.classList[0] == "stack6" || card.classList[0] == "stack7") {
            return true;
        }
        else {
            return false;
        }
    }

    function pileDrop(ev) {
        var name = ev.dataTransfer.getData("name");
        var card = getlastCard(ev.target);
        var moveCard = document.getElementsByName(name)[0]
        if (document.getElementsByName(name)[0].children.length == 0 && validCard(card,moveCard)) {
            ev.preventDefault();
            ev.target.innerHTML = "";
            card.appendChild(moveCard);
        }
    }

    function validCard(card,moveCard) {
        if (card.classList[0] == moveCard.classList[0] && parseInt(card.id) == parseInt(moveCard.id) - 1) {
            return true;
        }
        return false;
    }

    function newCard(item) {
        $.getJSON('/Games/GetCard/', function (card) {
            var nc= document.getElementById("blankCard").cloneNode(true);
            nc.id=card.value;
            nc.classList.add(card.suit);
            nc.setAttribute("name", card.value.toString() + card.suit);
            nc.innerHTML = card.value.toString() + card.suit;
            getlastCard(document.getElementById(item)).appendChild(nc);
       });
    }

    function startGame() {
        for (i = 0; i < 7; i++) {
            for (j = 1; j < 8 - i; j++) {
                var id = "stack" + j;
                    newCard(id);
            }
        }
    }

    function getlastCard(card){
        var children = card.children;
        if(children.length == 0)
        {
            return card;
        }else{
            return getlastCard(children[0]);
        }
    }

    function deckClick() {
        getlastCard(document.getElementById("pile")).innerHTML="";
        newCard("pile");
    }
</script>

<style>
#deck{
    width:100px;
    height:125px;
    background-color:white;
    border : 2px solid black;
    font-size:20px;
    text-align:center;
}

#pile{
    width:100px;
    height:125px;
    border : 2px solid white;
    color : white;
    font-size:20px;
    text-align:center;
}
.flexi{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}

.C,.S{
    width:100px;
    height:125px;
    background-color:white;
    border : 2px solid black;
    font-size:20px;
    color : black;
    text-align:center;
}

.D,.H{
    width:100px;
    height:125px;
    background-color:white;
    border : 2px solid black;
    font-size:20px;
    color : red;
    text-align:center;
}
</style>

<html>
<body onload="startGame()">
    <div id="space" style="height:50px;"></div>
    <div id="blankCard" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    <div id="board" style="width:100%;height:750px;background-color:green">
        <div id="space" style="height:50px;"></div>
        <div id="flexRow" class="flexi">
            <div id="deck" onclick="deckClick()">
                Deck
            </div>

            <div id="empty" style="width:3%"></div>
            <div id="pile"></div>
            <div id="empty" style="width:47%"></div>

            <div id="0" class="C" ondrop="pileDrop(event)" ondragover="allowDrop(event)"></div>
            <div id="0" class="S" ondrop="pileDrop(event)" ondragover="allowDrop(event)"></div>
            <div id="0" class="H" ondrop="pileDrop(event)" ondragover="allowDrop(event)"></div>
            <div id="0" class="D" ondrop="pileDrop(event)" ondragover="allowDrop(event)"></div>
        </div>
        <br>
        <br>
        <br>
        <div id="flexRow" class="flexi">
            <div id="stack7" class="stack" ondrop="drop(event)" ondragover="allowDrop(event)" style="width:125px;height:500px"></div>
            <div id="stack6" class="stack" ondrop="drop(event)" ondragover="allowDrop(event)" style="width:125px;height:500px"></div>
            <div id="stack5" class="stack" ondrop="drop(event)" ondragover="allowDrop(event)" style="width:125px;height:500px"></div>
            <div id="stack4" class="stack" ondrop="drop(event)" ondragover="allowDrop(event)" style="width:125px;height:500px"></div>
            <div id="stack3" class="stack" ondrop="drop(event)" ondragover="allowDrop(event)" style="width:125px;height:500px"></div>
            <div id="stack2" class="stack" ondrop="drop(event)" ondragover="allowDrop(event)" style="width:125px;height:500px"></div>
            <div id="stack1" class="stack" ondrop="drop(event)" ondragover="allowDrop(event)" style="width:125px;height:500px"></div>
        </div>
    </div>
</body>
</html>
