<!DOCTYPE html>
@model HelloWorld.Models.Deck

<script>
    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.children[0].id);
    }

    function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        ev.target.appendChild(document.getElementById(data));
    }

    function pileDrop(ev) {
        var data = ev.dataTransfer.getData("text");
        if (document.getElementById(data).children.length == 0) {
            ev.preventDefault();
            ev.target.innerHTML = "";
            ev.target.appendChild(document.getElementById(data));
        }
    }

    function newCard() {
        var card = @Html.Raw(Json.Encode(Model.getCard()));
        var newcard = document.getElementById("blankCard").cloneNode(true);
        newcard.id=card.value;
        newcard.classList.add(card.suit);
        newcard.innerHTML= card.value.toString() + card.suit;
        return newcard;

        /*var newCard = $.get('/Games/GetCard', function (card) {
            var nc= document.getElementById("blankCard").cloneNode(true);
            nc.id=card.value;
            nc.classList.add(card.suit);
            nc.innerHTML= card.value.toString() + card.suit;
            return nc;
        });
        return newCard;*/
    }

    function startGame() {
        for (i = 0; i < 7; i++) {
            for (j = 1; j < 8 - i; j++) {
                var id = "stack" + j;
                getlastCard(document.getElementById(id)).appendChild(newCard());
            }
        }
    }

    function getlastCard(card){
        var children = card.children;
        if(children.length == 0)
        {
            return card;
        }else{
            return getlastCard(children[0]);
        }
    }

    function deckClick() {
        getlastCard(document.getElementById("pile")).innerHTML="";
        getlastCard(document.getElementById("pile")).appendChild(newCard());
    }
</script>

<style>
#deck{
    width:100px;
    height:125px;
    background-color:white;
    border : 2px solid black;
    font-size:20px;
    text-align:center;
}

#pile{
    width:100px;
    height:125px;
    border : 2px solid white;
    color : white;
    font-size:20px;
    text-align:center;
}
.flexi{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}

.C,.S{
    width:100px;
    height:125px;
    background-color:white;
    border : 2px solid black;
    font-size:20px;
    color : black;
    text-align:center;
}

.D,.H{
    width:100px;
    height:125px;
    background-color:white;
    border : 2px solid black;
    font-size:20px;
    color : red;
    text-align:center;
}
</style>

<html>
<body onload="startGame()">
    <div id="space" style="height:50px;"></div>
    <div id="blankCard"></div>
    <div id="board" style="width:100%;height:750px;background-color:green">
        <div id="space" style="height:50px;"></div>
        <div id="flexRow" class="flexi">
            <div id="deck" onclick="deckClick()">
                Deck
            </div>
            <div id="empty" style="width:3%"></div>
            <div id="pile"></div>
            <div id="empty" style="width:47%"></div>

            <div id="pile" ondrop="pileDrop(event)" ondragover="allowDrop(event)"></div>
            <div id="pile" ondrop="pileDrop(event)" ondragover="allowDrop(event)"></div>
            <div id="pile" ondrop="pileDrop(event)" ondragover="allowDrop(event)"></div>
            <div id="pile" ondrop="pileDrop(event)" ondragover="allowDrop(event)"></div>
        </div>
        <br>
        <br>
        <br>
        <div id="flexRow" class="flexi">
            <div id="stack7" style="width:100px" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
            <div id="stack6" style="width:100px" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
            <div id="stack5" style="width:100px" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
            <div id="stack4" style="width:100px" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
            <div id="stack3" style="width:100px" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
            <div id="stack2" style="width:100px" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
            <div id="stack1" style="width:100px" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        </div>
    </div>
</body>
</html>
