<div>
    <button type="submit" class="btn btn-default" onclick="buttonClick();" style="height:200px;width:150px">Solitaire</button>
    <script>
        function buttonClick() {
            window.location.href = "/Games/Solitaire";
        }
</script>
</div>

